@charset "UTF-8";
:root {
  /* fonts */
  --second-font: "Raleway";
  --most-used-font-size: 14px;
  /* text colors */
  --akcent-color: #2196f3;
  --background-btn-color: #188ce8;
  --akcent-color-rgb: 33, 150, 243;
  --akcent-light-color: #ffffff;
  --title-color: #212121;
  --article-color: #757575;
  --not-active-btm-color: #f5f4fa;
  --baner-color: #2f303a;
  --not-active-icon-color: #afb1b8;
  --footer-dark-txt: rgba(255, 255, 255, 0.6);
  /* bground colors */
  --popular-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* others */
  --animation-time: 250ms;
  --animation-type: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  cursor: not-allowed;
  -webkit-transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, transform;
  transition-property: opacity, visibility, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
}

/* visually-hidden hide elements */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--most-used-font-size);
  color: var(--title-color);
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: var(--second-font), sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-left {
  color: var(--akcent-color);
}
.logo-right {
  color: #292929;
}

.footerlogo-right {
  color: var(--akcent-light-color);
}

@media screen and (max-width: 767px) {
  .pagination {
    display: none;
  }
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}
@media screen and (min-width: 768px) {
  .pagination__list {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .pagination__list {
    margin-left: 93px;
  }
}

.pagination__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  -webkit-transition: color var(--animation-time) var(--animation-type);
  transition: color var(--animation-time) var(--animation-type);
}
.pagination__link:focus, .pagination__link:hover {
  color: var(--akcent-color);
}

.pagination__item {
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.02em;
}
.pagination__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}
@media screen and (max-width: 1199px) {
  .contacts__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
    gap: 10px;
  }
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--article-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--animation-time) var(--animation-type);
  transition: color var(--animation-time) var(--animation-type);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__link:focus, .contacts__link:hover {
  color: var(--akcent-color);
}

.contacts__item {
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.worker {
  background: var(--akcent-light-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 450px;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  .worker {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .worker {
    width: 270px;
  }
}
.worker__foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  max-height: 100%;
}
.worker__info {
  padding: 30px 0px;
}
.worker__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.worker__position {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--article-color);
  text-align: center;
  margin-bottom: 16px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .footer .social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.social__icon {
  fill: currentColor;
}
.social__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 12px 0px 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--akcent-light-color);
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--not-active-icon-color);
  background-color: var(--akcent-light-color);
  border-radius: 50%;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}
.social__link--footer {
  color: var(--akcent-light-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.social__link:hover, .social__link:focus {
  color: var(--akcent-light-color);
  background-color: var(--akcent-color);
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}

/* regular customers */
.customers {
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding: 94px 0px;
  }
}
.customers__title {
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .customers__title {
    margin-bottom: 50px;
  }
}
.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.customers__icon {
  fill: currentColor;
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  max-height: 100%;
  width: 210px;
  height: 92px;
  padding: 0px;
  color: var(--not-active-icon-color);
  background-color: var(--akcent-light-color);
  border: 1px solid var(--not-active-icon-color);
  border-radius: 4px;
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}
@media screen and (min-width: 768px) {
  .customers__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}
.customers__link:hover, .customers__link:focus {
  color: var(--akcent-color);
  border-color: var(--akcent-color);
}

.adress__list {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .adress__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: none;
  -webkit-transition: color var(--animation-time) var(--animation-type);
  transition: color var(--animation-time) var(--animation-type);
}
.adress__link:focus, .adress__link:hover {
  color: var(--akcent-color);
}
.adress__link--google {
  color: var(--akcent-light-color);
}
.adress__link--mail, .adress__link--tel {
  color: var(--footer-dark-txt);
}

/* подпишитесь на рассылку */
.mailbox {
  color: var(--akcent-light-color);
}
@media screen and (max-width: 1199px) {
  .mailbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .mailbox {
    margin-left: auto;
  }
}
.mailbox__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 12px 0px 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 767px) {
  .mailbox__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.mailbox__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .mailbox__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.mailbox__icon {
  fill: currentColor;
  position: absolute;
  top: 13px;
  right: 28px;
}

.mailbox__input {
  width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: transparent;
  -webkit-filter: drop-shadow(var(--popular-shadow));
          filter: drop-shadow(var(--popular-shadow));
  border-radius: 4px;
  background: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--akcent-light-color);
  padding: 15px 0px 15px 16px;
  -webkit-transition: border-color var(--animation-time) var(--animation-type);
  transition: border-color var(--animation-time) var(--animation-type);
}
@media screen and (min-width: 1200px) {
  .mailbox__input {
    width: 358px;
  }
}
.mailbox__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-dark-txt);
}
.mailbox__input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-dark-txt);
}
.mailbox__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-dark-txt);
}
.mailbox__input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-dark-txt);
}
.mailbox__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-dark-txt);
}
.mailbox__input:focus {
  border-color: var(--akcent-color);
}

/* фильтр на странице Портфолио */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.filter__btm {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: inherit;
  text-align: center;
  padding: 6px 22px;
  color: var(--title-color);
  background: var(--not-active-btm-color);
  border-color: var(--not-active-btm-color);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: color, background, -webkit-box-shadow;
  transition-property: color, background, -webkit-box-shadow;
  transition-property: color, background, box-shadow;
  transition-property: color, background, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}
.filter__btm:hover, .filter__btm:focus {
  color: var(--akcent-light-color);
  background: var(--akcent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--akcent-color-rgb), 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--animation-time) var(--animation-type);
  transition: -webkit-transform var(--animation-time) var(--animation-type);
  transition: transform var(--animation-time) var(--animation-type);
  transition: transform var(--animation-time) var(--animation-type), -webkit-transform var(--animation-time) var(--animation-type);
}
.overlay__title {
  padding: 77px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--akcent-light-color);
}
@media screen and (min-width: 768px) {
  .overlay__title {
    padding: 49px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay__title {
    padding: 63px 24px;
  }
}

/* набор карточек портфолио */
.job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.job__img {
  position: relative;
  overflow: hidden;
}
.job__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  height: 110px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .job__content {
    height: 146px;
  }
}
.job__name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}
.job__type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--article-color);
}

.job__element {
  background: var(--akcent-light-color);
  padding: 0px;
  width: 450px;
  height: 404px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow var(--animation-time) var(--animation-type);
  transition: -webkit-box-shadow var(--animation-time) var(--animation-type);
  transition: box-shadow var(--animation-time) var(--animation-type);
  transition: box-shadow var(--animation-time) var(--animation-type), -webkit-box-shadow var(--animation-time) var(--animation-type);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .job__element {
    width: 354px;
    height: 440px;
  }
}
@media screen and (min-width: 1200px) {
  .job__element {
    width: 370px;
    height: 404px;
  }
}
.job__element:hover, .job__element:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.job__element:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.labelbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.labelbox__title {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--article-color);
  margin-bottom: 4px;
}
.labelbox__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill var(--animation-time) var(--animation-type);
  transition: fill var(--animation-time) var(--animation-type);
}

.labelbox__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  padding: 12px 16px 12px 42px;
  -webkit-transition: border-color var(--animation-time) var(--animation-type);
  transition: border-color var(--animation-time) var(--animation-type);
}
.labelbox__input:focus {
  border-color: var(--akcent-color);
}
.labelbox__input:focus + .labelbox__icon {
  fill: var(--akcent-color);
}

.labelbox-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding-left: 16px;
}

/* Checkbox on modal window */
.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.checkbox__custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  outline: 2px solid #212121;
  outline-offset: -2px;
  border-radius: 2px;
  -webkit-transition-property: background-color, outline-color;
  transition-property: background-color, outline-color;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}
.checkbox__input:checked + .checkbox__custom {
  background-color: var(--akcent-color);
  outline-color: var(--akcent-color);
}
.checkbox__icon {
  fill: var(--akcent-light-color);
}
.checkbox__agreement {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--article-color);
  padding-left: 7px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (min-width: 1200px) {
  .checkbox__agreement {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.checkbox__agreement--style {
  color: var(--akcent-color);
  text-decoration: underline;
}

.modal__submit-btn, .mailbox__btn, .baner__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.modal__submit-btn, .mailbox__btn, .baner__btn {
  color: var(--akcent-light-color);
  background: var(--akcent-color);
  border-radius: 4px;
  border-color: transparent;
  -webkit-box-shadow: var(--popular-shadow);
          box-shadow: var(--popular-shadow);
  cursor: pointer;
}

.modal__submit-btn, .mailbox__btn, .baner__btn {
  -webkit-transition: background-color var(--animation-time) var(--animation-type);
  transition: background-color var(--animation-time) var(--animation-type);
}
.modal__submit-btn:focus, .mailbox__btn:focus, .baner__btn:focus, .modal__submit-btn:hover, .mailbox__btn:hover, .baner__btn:hover {
  background-color: var(--background-btn-color);
}

.baner__btn {
  font-family: inherit;
  padding: 10px 32px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.mailbox__btn {
  padding: 10px 62px 10px 29px;
}
.mailbox__btn-container {
  position: relative;
  margin-left: 12px;
}

/* close round button */
.close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-8px, 8px);
          transform: translate(-8px, 8px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--akcent-light-color);
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}
.close-btn:hover, .close-btn:focus {
  fill: var(--akcent-color);
}

/* mobile menu buttons */
.mobile-menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  z-index: 10;
  border: transparent;
  background-color: var(--akcent-light-color);
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}
.mobile-menu-btn:hover, .mobile-menu-btn:focus {
  fill: var(--akcent-color);
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-btn.is-open .mobile-menu-burger {
  opacity: 0;
}

.mobile-menu-close {
  opacity: 0;
}
.mobile-menu-btn.is-open .mobile-menu-close {
  opacity: 1;
}

/* submit button */
.modal__submit-btn {
  padding: 10px 55px 10px 56px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current {
  position: relative;
  color: var(--akcent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--akcent-color);
  border-radius: 2px;
}

/* Site header banner */
.baner {
  max-width: 480px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--baner-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), color-stop(40%, rgba(47, 48, 58, 0.4))), url("../images/banner/banner-mob.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) 40%), url("../images/banner/banner-mob.jpg");
}
@media screen and (min-width: 768px) {
  .baner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .baner {
    max-width: 1600px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .baner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), color-stop(40%, rgba(47, 48, 58, 0.4))), url("../images/banner/banner-mob@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) 40%), url("../images/banner/banner-mob@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .baner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), color-stop(40%, rgba(47, 48, 58, 0.4))), url("../images/banner/banner-tab.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) 40%), url("../images/banner/banner-tab.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .baner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), color-stop(40%, rgba(47, 48, 58, 0.4))), url("../images/banner/banner-tab@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) 40%), url("../images/banner/banner-tab@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .baner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), color-stop(40%, rgba(47, 48, 58, 0.4))), url("../images/banner/banner-desc.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) 40%), url("../images/banner/banner-desc.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .baner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), color-stop(40%, rgba(47, 48, 58, 0.4))), url("../images/banner/banner-desc@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) 40%), url("../images/banner/banner-desc@2x.jpg");
  }
}
.baner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 0px;
}
.baner__text {
  color: var(--akcent-light-color);
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  display: block;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .baner__text {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .baner__text {
    max-width: 696px;
  }
}

/* Our credo */
.credo {
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .credo {
    padding: 94px 0px;
  }
}
.credo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.credo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  .credo__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .credo__item {
    width: 270px;
  }
}
.credo__iconbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  max-height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--not-active-btm-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.credo__title {
  font-style: normal;
  font-weight: 700;
  font-size: var(--most-used-font-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.credo__textstyle {
  font-weight: 400;
  line-height: 1.71;
  text-transform: none;
  color: var(--article-color);
}

/* Our prifiles */
.profile {
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .profile {
    display: none;
  }
}
.profile__title {
  text-align: center;
  margin-bottom: 50px;
}
.profile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.profile__item {
  position: relative;
}
.profile__label {
  position: absolute;
  width: 100%;
  top: 224px;
  padding: 27px 0px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--akcent-light-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Our team */
.team {
  background: var(--not-active-btm-color);
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0px;
  }
}
.team__title {
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

/* ============ */
/* site footer */
/* ============ */
.footer {
  background-color: var(--baner-color);
  padding: 60px 0px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contacts {
    margin-left: 61px;
    gap: 165px;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 0px;
}
@media screen and (max-width: 1199px) {
  .sidebar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .sidebar {
    margin-right: 70px;
  }
}

.portfolio {
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0px;
  }
}

.active {
  color: var(--akcent-light-color);
  background: var(--akcent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Модальное окно */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: var(--akcent-light-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: default;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__main-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}
.modal__interactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: var(--akcent-light-color);
  -webkit-transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, transform;
  transition-property: opacity, visibility, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
}

.mobile-pagination {
  margin-bottom: auto;
}
.mobile-pagination__link {
  color: var(--title-color);
}
.mobile-pagination__item {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}
.mobile-pagination__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts {
  margin-bottom: 64px;
}
.mobile-contacts__link {
  color: var(--article-color);
}
.mobile-contacts__item {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-socials {
  margin-bottom: 0;
}
.mobile-menu-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
.mobile-menu-socials__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu-socials__link {
  color: var(--akcent-color);
}

.mobile-current {
  color: var(--akcent-color);
}/*# sourceMappingURL=main.css.map */