.contacts {
    @media screen and (max-width: 767px) {
        display: none;
    }

    margin-left: auto;

    &__list {
        display: flex;
        padding-left: 0px;
        @media screen and (max-width: 1199px) {
            flex-direction: column;
            padding-top: 21px;
            padding-bottom: 21px;
            gap: 10px;
        }
    }
    &__icon {
        fill: currentColor;
        margin-right: 10px;
    }

}

.contacts__link {
    display: flex;

    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    color: var(--article-color);
    align-items: center;
    transition: color var(--animation-time) var(--animation-type);

    &:focus,
    &:hover {
        color: var(--akcent-color);
    }
}

.contacts__item {
    @include get-font-style(null, 500, null, 1.71, 0.02em);

    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}



